@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Cardo&family=Handjet:wght@300&family=Lilita+One&family=Lora:ital,wght@1,500&family=Monoton&family=Nunito&family=Oswald:wght@700&family=VT323&family=Victor+Mono:wght@300&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Cardo&family=Handjet:wght@300&family=Lato&family=Lilita+One&family=Lobster&family=Lora:ital,wght@1,500&family=Monoton&family=Nunito&family=Oswald:wght@700&family=VT323&family=Victor+Mono:wght@100&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Cardo&family=Cinzel+Decorative:wght@700&family=Handjet:wght@300&family=Lato&family=Lilita+One&family=Lobster&family=Lora:ital,wght@1,500&family=Monoton&family=Nunito&family=Oswald:wght@700&family=Roboto:wght@300&family=VT323&family=Victor+Mono:wght@100&family=Yatra+One&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
  }

  body{
    background-color: #28282B;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
      overflow-x: hidden;
  }
  
  @media (max-width: 992px){
    .header{
      padding: 1.25rem 4%;
    }
  }
  
  
  .header{
    position: top;
    top: 0;
    left: 0;
    background-color: rgba(225, 225,225,.2);
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia,Times,Times New Roman,serif;
    z-index: 100;
    backdrop-filter: blur(20px);
    
  }
  
  .navbar a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    transition: .2s;
    cursor: pointer;
  }
  
  .navbar a:hover, .navbar a:active{
    color: #00abf0;
  }


.hero{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  
}


  .back-video{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    /* object-fit: cover; */
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color:black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  }

  @keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
  }


  .Fire{
    position: absolute;
    /* object-fit: cover; */
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
 border-radius: 10px;
  }

  .about-me{
    width: 480px;
height: 270px;
border-radius: 8px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
margin: 10px;
    margin-left: -140px;
    margin-top: 40px;
  }
  
  /* ------slider-------- */
  
  #slider{
    margin:0 auto;
    width:500px;
    height: 281px;
    overflow:hidden;
    margin-left: 720px;
    border-radius: 10px;
    display: flex;
  }
  
  .slides{
    overflow:hidden;
    animation-name:fade;
    animation-duration:1s;
    display: flex;
    object-fit: cover;
  }
  
  .active{
    background:black;
  }
  
  @media (max-width:567px){
    #slider{
      width:100%;
  
    }
  }

 

 /* ------slider-------- */


  /* -----footer----- */

  footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: block;
    justify-content: center;
    align-items: center;
    background: #3586ff;
    bottom: 0px;
    z-index: 1000;
      }
    
      footer .social_icon, footer .menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
      }
      footer .social_icon li , footer .menu li{
        list-style: none;
      }
      footer .social_icon li a{
        font-size: 2em;
        color: aliceblue;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      footer .social_icon li a:hover{
        transform: translateY(-10px);
        color: black;
      }
    
      footer .menu li a{
        font-size: 1.2em;
        color: aliceblue;
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.75;
      }
    
      footer .menu li a:hover{
        transform: translateY(-2px);
        opacity: 1;
      }
    
      footer p.foot{
        color: aliceblue;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
      }
    

      footer .wave{
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background:url(assets/wave.png);
        background-size: 1000px 100px;
      }
      footer .wave#wave1{
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animatewave 4s linear infinite;
      }
    
      footer .wave#wave2{
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animatewave_02 4s linear infinite;
      }
    
      footer .wave#wave3{
        z-index: 999;
        opacity: 0.2;
        bottom: 15px;
        animation: animatewave_03 3s linear infinite;
      }
    
      footer .wave#wave4{
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animatewave_04 3s linear infinite;
      }
    
      @keyframes animatewave{
        0%{
          background-position-x: 1000px;
        }
        100%{
          background-position-x: 0px;
        }
      }
    
      @keyframes animatewave_02{
        0%{
          background-position-x: 1000px;
        }
        100%{
          background-position-x: 0px;
        }
      }
    
      @keyframes animatewave_03{
        0%{
          background-position-x: 1000px;
        }
        100%{
          background-position-x: 0px;
        }
      }
    
      @keyframes animatewave_04{
        0%{
          background-position-x: 1000px;
        }
        100%{
          background-position-x: 0px;
        }
      }
    
    
      /* -----footer----- */


      .container{
        margin: 140px;
        padding: 50px;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin-top: -2px;
    line-height: 1.4;

      }

      h1.about-text{
           text-align: center;
        justify-content: center;
    align-items: center;
    margin-left: 350px;
    font-weight: 400;
    font-size: 80px;
    margin-top: -10px;
    font-family: 'Lobster', cursive;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background: -webkit-linear-gradient(#d50f0f, #7b0404);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
      }

      .about-section{
        margin: 20px;
        padding: 20px;
        

      }

      .project-section{
        margin: 20px;
        padding: 20px;
      }

      .project-section p{
        display: flex;
        margin: 50px;
        margin-left: 20px;
        margin-right: 385px;
        margin-top: -270px;
        font-size: 20px;
        color: white;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
      

      .AI{
        margin: 20px;
        padding: 20px;
        display: block;
      }
      img.gif{
        border-radius:15px ;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin-left: -20px;

      }

      h1.pro-text{
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    padding: 20px;
    font-weight: 500;
    font-size: 70px;
    font-family: 'Monoton', cursive;

      }

      h1.ai{
        justify-content: center;
        align-items: center;
        margin-left: 320px;
        font-weight: 300;
        font-size: 40px;
        font-family: 'Victor Mono', monospace;
        color: azure;
         text-align: center;
        
      }
.aitext{
  display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: -20px;
      align-items: center;
      text-align: left;
      margin-top: -290px;
      margin-left: 270px;
  position: relative;
  font-weight: 400;
        font-family: 'Roboto', sans-serif;
  color: snow;
  font-size: 19px;
  
}

.about{
  font-size: 20px;
        color: white;
        display: flex;
        margin-left: 420px;
        margin-top: -300px;
        flex-direction: column;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-right: -20px;
}

      p.ai{
        font-weight: 500;
                
      }

      .ai a{
        color: rgb(157, 249, 249);
        font-size: 18px;
        font-family: 'Lora', serif;
      }

      x-sign{
        color: yellow;
        --color1: yellow;
        --color2: lime;
        --color3: green;
        --color4: rgb(255, 255, 255);
        font-family: Monoton;
      }

      x-sign {
        --interval: 1s;
        display: block;
        text-shadow: 
          0 0 10px var(--color1),
          0 0 20px var(--color2),
          0 0 40px var(--color3),
          0 0 80px var(--color4);
        will-change: filter, color;
        filter: saturate(60%);
        animation: flicker steps(100) var(--interval) 1s infinite;
      }

      @keyframes flicker {
        50% {
          color: white;
          filter: saturate(200%) hue-rotate(20deg);
        }
      }


      /* -----button----- */

      .btn-1 {
        font-family: Hack, monospace;
        background: rgba(212, 212, 212, 0.168);
        color: #ffffff;
        cursor: pointer;
        font-size: 2em;
        padding: 1.5rem;
        border: 0;
        transition: all 0.5s;
        border-radius: 10px;
        width: auto;
        position: relative;
        margin: 20px;
        margin-left: 400px;
        margin-top: 40px;
    
        &::after {
            content: " ➤";
            font-family: "Font Awesome 5 Pro";
            font-weight: 400;
            position: absolute;
            text-align: center;
            left: 85%;
            top: 25%;
            right: 5%;
            bottom: 0;
            opacity: 0;
    
        }
    
        &:hover {
            background: #2b2bff;
            transition: all 0.5s;
            border-radius: 10px;
            box-shadow: 0px 6px 15px #0000ff61;
            padding: 1.5rem 3.5rem 1.5rem 1.5rem;
    
            &::after {
                opacity: 1;
                transition: all 0.5s;
    
            }
        }
    
    
    }


    .btn-2 {
      font-family: Hack, monospace;
      background: rgba(212, 212, 212, 0.168);
      color: #ffffff;
      cursor: pointer;
      font-size: 2em;
      padding: 1.5rem;
      border: 0;
      transition: all 0.5s;
      border-radius: 10px;
      width: auto;
      position: relative;
      margin: 20px;
        margin-left: 500px;
        margin-top: 40px;
  
      &::after {
          content: " ➤";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          position: absolute;
          text-align: center;
          left: 85%;
          top: 25%;
          right: 5%;
          bottom: 0;
          opacity: 0;
  
      }
  
      &:hover {
          background: #2bff4b;
          transition: all 0.5s;
          border-radius: 10px;
          box-shadow: 0px 6px 15px #25ff4d7f;
          padding: 1.5rem 3.5rem 1.5rem 1.5rem;
  
          &::after {
              opacity: 1;
              transition: all 0.5s;
  
          }
      }
  
  
  }


      /* ------------- */



      .content {
        position: relative;
      }
      
      .content h2 {
        color: #fff;
        font-size: 40px;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      
      .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 1px #03a9f4;
      }
      
      .content h2:nth-child(2) {
        color: #03a9f4;
        animation: animate 4s ease-in-out infinite;
      }
      
      @keyframes animate {
        0%,
        100% {
          clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
          );
        }
      
        50% {
          clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
          );
        }
      }




      .area {
        text-align: center;
        font-size: 20PX;
        color: #fff;
        font-weight: 450;
        text-transform: uppercase;
        animation: blur 1s ease-out infinite;
        text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
      }
      

      a{
        text-decoration: none;
      }

      /* -------------------sign----------------- */

      @keyframes sign{
        to{
          stroke-dashoffset: 0;
        }
      }
    
      #signature1{
        stroke-dasharray: 6162;
        stroke-dashoffset: 6162;
        animation: sign 4s ease infinite;
    
      }
    
      svg{
        margin-left: -170px;
        width: 120px;
        height: 61px;
        position: absolute;
        margin-top: 340px;
      }


      /* -------------------sign----------------- */
/* -------------------responsive----------------- */

           @media screen and (max-width:1300px){
        h1.about-text {
          justify-content: center;
          align-items: center;
          margin-left: 100px;
          font-weight: 400;
          font-size: 80px;
          margin-top: -10px;
          font-family: 'Lobster', cursive;
          text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          background: -webkit-linear-gradient(#d50f0f, #7b0404);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
      }



      .about {
        font-size: 18px;
        color: white;
        display: flex;
        margin-left: 400px;
        margin-top: -300px;
        flex-direction: column;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-right: -150px;
    }

    .container{
      justify-content: center;
      align-items: center;
    }

    .project-section p {
      display: flex;
      margin: 50px;
      margin-left: -176px;
      margin-right: 390px;
      margin-top: -293px;
      font-size: 20px;
      color: white;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
  }

  .btn-2{
  margin-left: 285px;
}

  #slider {
    margin: 0 auto;
    width: 500px;
    height: 281px;
    overflow: hidden;
    margin-left: 420px;
    border-radius: 10px;
    display: flex;
}

h1.ai {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-weight: 300;
  font-size: 40px;
  font-family: 'Victor Mono', monospace;
  color: azure;
}

.aitext {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -150px;
  align-items: center;
  text-align: left;
  margin-top: -290px;
  margin-left: 270px;
  position: relative;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: snow;
  font-size: 19px;
}

img.gif{
  margin-left:-60px ;
}

      }
